[submodule "eshop-sparkle-assets"]
        path = eshop-sparkle-assets
        url = https://github.com/BeerSlothAgent/shop-sparkle-assets.git
[submodule "onofframp-cube-paygate"]
        path = onofframp-cube-paygate
        url = https://github.com/BeerSlothAgent/on-off-ramp-cube-paygate.git
[submodule "agentsphere-full-web-man-US"]
        path = agentsphere-full-web-man-US
        url = https://github.com/BeerSlothAgent/agentsphere-full.git